// =============================================================================
// Header
// =============================================================================

$gradient-bottom: #f46b45;
$gradient-top: #eea849;

header {
  display: block;
  padding: 125px 15px;
  text-align: center;
  background: linear-gradient(to top, $gradient-bottom, $gradient-top);
  h4 {
    display: inline-block;
    color: $white;
  }
  p {
    display: block;
    width: 100%;
    max-width: 620px;
    margin: 10px auto 60px;
    color: rgba($white, .8);
  }
}

.header-logo {
  display: inline-block;
  width: 270px;
  margin-bottom: 50px;
}

.header-actions {
  display: block;
  text-align: center;
  .button {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
  }
}

@include breakpoint(extra-small) {
  .header-logo {
    width: 250px;
    margin-top: 20px;
  }
}
