// =============================================================================
// Header
// =============================================================================

header {
  display: block;
  padding: 125px 15px;
  text-align: center;
  background: linear-gradient(to top, #f46b45, #eea849);
  h4 {
    display: inline-block;
    color: $white;
  }
}

.header-logo {
  display: inline-block;
  width: 300px;
  margin-bottom: 25px;
}

.header-actions {
  display: block;
  margin-top: 35px;
  text-align: center;
  .button {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
  }
}

@include breakpoint(extra-small) {
  .header-logo {
    width: 250px;
    margin-top: 20px;
  }
}
