// =============================================================================
// Header
// =============================================================================

// Header of the page with a background image.

header {
  display: block;
  padding: 125px 15px;
  text-align: center;
  background: url(asset_path("header.jpg")) no-repeat center center;
  background-size: cover;
  h4 {
    display: inline-block;
    color: $white;
  }
  p {
    display: block;
    width: 100%;
    max-width: 620px;
    margin: 10px auto 50px;
    color: rgba($white, .9);
  }
}

// Logo in the header.

.header-logo {
  display: inline-block;
  width: 100%;
  max-width: 270px;
  margin-bottom: 50px;
}

// The two call to actions in the header.

.header-actions {
  display: block;
  text-align: center;
  .button {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
  }
}

// Responsive
// =============================================================================

@include breakpoint(extra-small) {
  .header-logo {
    max-width: 250px;
    margin-top: 20px;
  }
}
