// =============================================================================
// Sections
// =============================================================================

// Defines each content section on the home page.

section {
  display: block;
  padding: 125px 0;
  border-bottom: 1px solid $base-border-color;
}

// Contains a text block with information.

.section-info {
  h5 {
    margin-bottom: 15px;
    &.with-margin {
      margin-top: 25px;
    }
  }
  &.is-centered {
    text-align: center;
  }
}

// An image spanning the entire width of the page inside a section.

.section-image {
  display: block;
  padding: 0 50px 50px;
  text-align: center;
  img {
    display: inline-block;
    width: 100%;
    max-width: 850px;
  }
}

// A footnote to use below a section info block.

.section-footnote {
  display: inline-block;
  margin-top: 50px;
}

// Custom outro with a centered title and call to action.

.section-outro {
  display: block;
  text-align: center;
  h3 {
    display: block;
    color: $gray-darkest;
    text-align: center;
  }
  p {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 20px 0 40px;
    a {
      color: $gray-darkest;
    }
  }
  .button {
    display: inline-block;
  }
  span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    color: $gray-lighter;
    text-align: center;
  }
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .section-info {
    margin-bottom: 40px;
    &.is-last {
      margin-bottom: 0;
    }
  }
  .section-image {
    padding: 0 0 50px;
  }
}
