// =============================================================================
// Base
// =============================================================================

// Typography
// =============================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  margin: 0 auto;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-font-color;
}

p {
  margin: 0;
  font-family: $sans-serif-text;
  font-weight: $base-font-weight;
  color: $gray;
}

b,
strong {
  font-weight: $base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.45;
  color: $gray-darkest;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $base-font-size * 2.25;
}

h2 {
  font-size: $base-font-size * 2;
}

h3 {
  font-family: $sans-serif-text;
  font-size: 26px;
  font-weight: 400;
}

h4 {
  font-family: $sans-serif-text;
  font-size: $base-font-size * 1.6;
  font-weight: 300;
}

h5 {
  font-family: $sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

h6 {
  font-size: $base-font-size;
}

a {
  font-family: $sans-serif-text;
  color: $base-accent-color;
  text-decoration: none;
  transition: color $base-transition-speed linear;
  &:hover,
  &:active {
    color: $base-accent-highlighted-color;
  }
  &:focus {
    color: $base-accent-highlighted-color;
    outline: none;
  }
}

hr {
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $base-border-color;
  border-left: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

code {
  font-family: $serif;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted $base-border-color;
}

blockquote {
  padding-left: $base-line-height / 2;
  margin: $base-line-height 0;
  color: lighten($base-font-color, 15);
  border-left: 2px solid $base-border-color;
}

cite {
  font-style: italic;
  color: $base-accent-color;
}

// Selections
// =============================================================================

::-moz-selection {
  color: $white;
  background: $brand-primary;
}

::selection {
  color: $white;
  background: $brand-primary;
}
