// =============================================================================
// Variables
// =============================================================================

// Typography
// =============================================================================

$sans-serif: "Montserrat", Helvetica, Arial, sans-serif;
$sans-serif-text: "Roboto", Courier, Arial, sans-serif;
$serif: "Inconsolata", Courier, serif;
$base-font-family: $sans-serif;
$base-font-weight: 300;
$base-font-weight-bold: 700;

// Colors
// =============================================================================

// Shades of gray

$black: #101111;
$gray-darkest: #393f49;
$gray-darker: lighten($gray-darkest, 10);
$gray-dark: lighten($gray-darkest, 20);
$gray: lighten($gray-darkest, 30);
$gray-light: lighten($gray-darkest, 40);
$gray-lighter: lighten($gray-darkest, 50);
$gray-lightest: lighten($gray-darkest, 65);
$white: #fff;

// Colors

$brand-info: #0477bf;
$brand-success: #2a7870;
$brand-danger: #d94343;
$brand-primary: #f46b45;
$brand-warning: #f2bb16;

// Font color

$base-font-color: $gray-dark;
$base-accent-color: $gray-darkest;
$base-accent-highlighted-color: darken($base-accent-color, 15);

// Border color

$base-border-color: $gray-lightest;

// Sizes
// =============================================================================

// Grid

$columns: 12;
$max-width: 1140px;
$gutter: 20px;
$one-column: 100% / $columns;
$negative-gutter: 0 - $gutter;

// Font sizes

$base-font-size: 16px;
$base-line-height: 1.7;

// Box sizes

$base-border-radius: 2px;
$base-box-shadow: 0 2px 0 darken($gray-lighter, 5);
$base-transition-speed: .3s;
