// =============================================================================
// Footer
// =============================================================================

footer {
  display: block;
  padding: 50px 0;
  a {
    display: inline-block;
    color: $gray-light;
    &:hover,
    &:focus,
    &:active {
      color: $gray-darkest;
    }
  }
  iframe {
    float: right;
    margin-top: 3px;
    text-align: right;
  }
}
