// =============================================================================
// Footer
// =============================================================================

footer {
  padding: 50px 0;
  border-top: 1px solid $gray-lightest;

  p,
  a {
    color: $gray-lighter;
  }
}
