// =============================================================================
// Footer
// =============================================================================

footer {
  padding: 50px 0;
  background: $gray-lightest;

  p,
  a {
    color: $gray-lighter;
  }
}
