// =============================================================================
// Grid
// =============================================================================

// Settings
// =============================================================================

// Creates widths for each column

@mixin column-generator() {
  @for $i from 1 through ($columns - 1) {
    &.with-#{$i}col {
      width: $one-column * $i;
    }
  }
}

@mixin responsive-column-generator() {
  @for $i from 1 through ($columns - 1) {
    &.with-#{$i}col {
      width: 100%;
    }
  }
}

// Component
// =============================================================================

.grid {
  display: block;
  padding: 0;
  margin: 0 $negative-gutter;
  font-size: 0;
  text-align: left;
}

// Descendants
// =============================================================================

.grid-cell {
  @include column-generator();
  display: inline-block;
  width: 100%;
  padding: 0 $gutter;
  margin: 0;
  font-size: $base-font-size;
  text-align: left;
  vertical-align: top;
  &.is-centered {
    text-align: center;
  }
  &.is-middle {
    vertical-align: middle;
  }
}

@include breakpoint(small) {
  .grid-cell {
    @include responsive-column-generator();
  }
}

// Modifiers
// =============================================================================

.grid-centered {
  max-width: $max-width;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@include breakpoint(extra-small) {
  .grid-centered {
    padding-right: 0;
    padding-left: 0;
  }
}
